using System;
using System.IO;
using System.Text;

namespace {{ program.name|pascalcase }} {
    {% for struct in program.structs %}
    {#- Class statement -#}
    {% if struct.description %}
    {{- struct.description|xmlcomment|indent(4) }}
    {% endif -%}
    public class {{ struct.name|pascalcase }} {
        {#- Class members #}
        {%- for member in struct.members %}
        {% if member.description %}
        {{- member.description|comment|indent(8) }}
        {% endif -%}
        public {{ member|csharptype }} {{ member.name }};
        {%- endfor %}

        public const int Size = {{ struct.size }};

        public {{ struct.name|pascalcase }} (
            {%- for member in struct.members -%}
                {{ member|csharptype }} {{ member.name }}{{ ", " if not loop.last}}
            {%- endfor -%}) {
            {%- for member in struct.members %}
            this.{{ member.name }} = {{ member.name }};
            {%- endfor %}
        }

        public static {{ struct.name|pascalcase }} Read(BinaryReader reader) {
            {#- Read data -#}
            {%- for member in struct.members %}
            {{ member|csharptype }} {{ member.name }} = {{ "" }}
            {%- if member.length == 1 and member.type -%}
            reader.{{- member|readermethod }}();
            {%- endif -%}
            {#- Read arrays -#}
            {%- if member.length > 1 and member.type != 'char' -%}
            new {{ member|csharptype(True) }};
            for (int index = 0; index < {{ member.length }}; index++) {
                {{ member.name }}[index] = reader.{{ member|readermethod }}();
            }
            {%- endif -%}
            {#- Read strings -#}
            {% if member.length > 2 and member.type == 'char' -%}
            Encoding.ASCII.GetString(reader.ReadBytes({{ member.size }})).TrimEnd('\0');
            {%- endif -%}
            {%- endfor %}

            {# Return new Object -#}
            return new {{ struct.name|pascalcase }}(
            {#- Constructor Args -#}
            {%- for member in struct.members -%}
            {{ member.name }}{{ ", " if not loop.last}}
            {%- endfor %});
        }

        public static void Write(BinaryWriter writer, {{ struct.name|pascalcase }} {{ struct.name|lower }}) {
            {%- for member in struct.members -%}
            {% if member.type == 'char' and member.length > 1 -%}
            writer.Write(Encoding.ASCII.GetBytes({{ struct.name|lower }}.{{ member.name }}.Substring(0, Math.Min({{ member.length }}, {{ struct.name|lower }}.{{ member.name }}.Length)).PadRight({{ member.length }}, '\0')));
            {#- Write array data -#}
            {%- elif member.length > 1 -%}
            {%- if not loop.first -%}
            {{ '' }}
            {%- endif %}
            for (int index = 0; index < {{ member.length }}; index++) {
                writer.Write({{ struct.name|lower }}.{{ member.name }}[index]);
            }
            {#- Write data -#}
            {% else %}
            writer.Write({{ struct.name|lower }}.{{ member.name }});
            {%- endif %}
            {%- endfor %}
        }
    }

    public static class {{ struct.name|pascalcase }}ReadWriteExtensions {
        public static {{ struct.name|pascalcase }} Read{{ struct.name|pascalcase }}(this BinaryReader reader) {
            return {{ struct.name|pascalcase }}.Read(reader);
        }

        public static void Write(this BinaryWriter writer, {{ struct.name|pascalcase }} {{ struct.name|lower }}) {
            {{ struct.name|pascalcase }}.Write(writer, {{ struct.name|lower }});
        }
    }
    {{-'\n\n    ' if not loop.last}}
    {%- endfor %}
}
